doctype
html
  //- In this public page, all information will be provided by the server according to the visibility preferences of the CozyCloud user
  //- and this page will display information resulted from the server
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge, chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    //- Bootstrap links
    script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
    script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
    link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
    //- Stylesheets
    style
      include public.css
    //- Web page title
    if user && user.name
      title Portfolio Cozy Cloud de #{user.name}
    else
      title Cozy Cloud - Portfolio
      
  body(onload="init()")     
    div.col-md-12#portfolioView
      if user || portfolios || badges
        div.row.text-center
          h1.col-md-12 Portfolio 
            if user && user.name
              span de #{user.name} 
          if user
            span.col-md-12.text-center.secondTitle gracieusement hébergé par son 
              a(href="https://cozy.io/fr/" target="_blank") Cozy Cloud
        //- tabs
        div.row.col-md-12#TabsContainer
          //-user tab part
          if user
            div.row.tab#presentationTab
              a.tabTitle.col-md-12(onclick="chooseCategory(this)") Présentation
              div.docsContainer.col-md-12
                div.documentBlock.col-md-12
                  div.documentContent.col-md-12
                      if user.name
                        p(style="font-weight:900") #{user.name}
                      if user.age
                        p Age : #{user.age} ans
                      if user.email
                        p Email : #{user.email.replace("@", "(at)")}
                      if user.status
                        p Situation profesionnelle : #{user.status}
                      if user.localisation
                        p Lieu : #{user.localisation}
                      if user.description
                        p Description : #{user.description}
                      if user.hobbies
                        p Hobbies : 
                          for hobby in user.hobbies
                            span.hobby= hobby
                      if user.keywords
                        p Mots-clés : 
                          for keyword in user.keywords
                            span.keyword= keyword
                            
          if portfolios
            for category in portfolios
              div.row.tab
                a.tabTitle.col-md-12(onclick="chooseCategory(this)") #{category.title}
                div.docsContainer.col-md-12(id="#{category.title.replace(' ','_')}")
                  for document in category.documents
                    div.documentBlock.col-md-12
                      div.documentContent.col-md-12
                        p.documentTitle #{document.title}
                        if document.emebededCode
                          !{document.emebededCode}
                        p.documentDescription #{document.description}
                        if document.url
                          a(href="#{document.url}" target="_blank") Lien du document
                            br
                        if document.relatedWebsite
                          a(href="#{document.relatedWebsite}" target="_blank") Site web associé
                        p.documentDate Daté du #{document.creationDate}
                        
          if badges
            div.row.tab#badgesTab
              a.tabTitle.col-md-12(onclick="chooseCategory(this)") Badges
              div.docsContainer.col-md-12#badgesTabContent
                for badge in badges
                  div.badgeBlock.col-md-6
                    div.badgeContent.col-md-12
                      img.badgeImage(src="#{badge.imageUrl}")
                      div.badgeDetails
                        p.badgeIssuer
                          span.badgeName #{badge.name}
                          span , délivré par 
                          a(href="#{badge.issuerUrl}") #{badge.issuerName}
                        p.badgeDescription #{badge.description}
                        a.badgeLink(target="_blank" href="#{badge.hostedUrl}") Voir sur le site d'origine
                        
    script(type="text/javascript").
      //by default the presentation tab will be opened
      function init(){
        document.getElementById("presentationTab").className = "row tab choiceCategory";
      }
      //functon for the category selection behavior
      function chooseCategory(element){
        //if this category is selected, we unselect it
        if(element.parentNode.className == "row tab choiceCategory"){
          element.parentNode.className = "row tab";
          return;
        }
        //if it's not we select it and unselect all others
        var categoriesDIV = document.getElementById("portfolioView").getElementsByClassName("tab");
        for(var i in categoriesDIV){
          categoriesDIV[i].className = "row tab";
        }
        element.parentNode.className = "row tab choiceCategory";
      }  